<p>
  Usuario
</p>

<%= @user %>

<table class="table table-stripped table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Start Time</th>
      <th>Total Distance</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity["type"] %></td>
        <td><%= activity["start_time"].to_s %></td>
        <td><%= activity["total_distance"].to_i / 1000 %> Kms</td>
        <td><%= activity["duration"].to_i / 60 %> min</td>
      </tr>
    <% end %>
  </tbody>
</table>
